<!--
File: bottom_nav
Name: Purodhika Sharma
Student ID: 301223212
Date: 03-06-22
-->
  
  <!--Bottom footer-->
  <footer>
    <nav class="navbar fixed-bottom navbar-dark bg-dark" padding="">
      <p class="display-14" style="color:white" style="font-size:30px"> &copy; Copyright 2022. All Rights Reserved </p>
    </nav>
  </footer>