<!--
File: about.ejs
Name: Purodhika Sharma
Student ID: 301223212
Date: 03-06-22
-->

<%- include partials/header.ejs %> 
  
<%- include partials/main_nav.ejs %>  
   
  <!--Main section-->
  <main>
   
    <body style="background-color:rgb(199, 188, 194);"></body>
 
    <div class="bg-success p-2 text-dark bg-opacity-10"></div>

      <div class="container">
        <h6 class="display-6"><center><b>Now That You're Here<br> Let's know more about me! </b> </center></h6></div>
<form>
 <!--inserts my pic-->
    <div class="row">
      <div class="col">
          <center><img src= "assets/images/my_pic.jpg"  height="300px" width="300px"></center>
  </div>
  <div class="col-sm-6 col-md-6 col-xs-12">
    <div class="container" style="padding-bottom: 20px;">
        <h4><center>Purodhika Sharma</center></h4>
        <p><i><center>Being passionate about learning new skills and technology, I am currently pursuing an Advanced Diploma in Software Engineering Technology from Centennial College.<br>
          I believe my educational experience and work experience have taught me lasting skills. My strengths include active listening, communication, leadership, teamwork, adaptability, and problem-solving.<br>
          Moreover, I have a foundational understanding of computer applications and software development.
        </center></i></p>

        <!--Link to Resume PDF-->
        <center> 
          <a href="assets/multimedia/Purodhika_Resume.pdf" class="btn btn-dark">View Resume </a></center>
          </div>
        </div>
    </div>
</main>

  <%- include partials/bottom_nav.ejs %> 
  <%- include partials/footer.ejs %> 

</html>