<!--
File: projects.ejs
Name: Purodhika Sharma
Student ID: 301223212
Date: 03-06-22
-->
<%- include partials/header.ejs %> 
<%- include partials/main_nav.ejs %>  

<main class="container">
    <div class="jumbotron" padding="20px">
        
            <h3><center>My Projects</center></h3>
        
        </div>
        <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col">
                <div class="card h-100">
                <img src="/assets/images/restaurant.jpg" class="card-img-top" alt="" height="200px" width="300px">
                <div class="card-body">
                    <h5 class="card-title">Restaurant Website</h5>
                    <p class="card-text">  I created a responsive website with front-end and back-end coding with languages like HTML, CSS, PHP, SQL, and JavaScript. <br> It allowed customers to refer menu and order food online.
</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <img src="/assets/images/SRS.jpg" class="card-img-top" alt="requirements modelling" height="200px" width="300px">
                    <div class="card-body">
                        <h5 class="card-title">System Analysis</h5>
                        <p class="card-text"> I worked with a team to analyse a health-monitoring system called Covid-Safe. <br> We did system analysis and prepared an SRS document for the same.
</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <img src="/assets/images/game.png" class="card-img-top" alt="fruit slide" height="200px" width="300px">
                    <div class="card-body">
                        <h5 class="card-title">Fruit Slide</h5>
                        <p class="card-text"> I created the graphics and animation for a game similar to Fruit Ninja. I scripted the game functions using ActionScript.
</p>
                    </div>
                </div>
            </div>
          </div>
    </div>
</main>


<%- include partials/bottom_nav.ejs %> 
<%- include partials/footer.ejs %> 