<!--
File: services.ejs
Name: Purodhika Sharma
Student ID: 301223212
Date: 03-06-22
-->
<%- include partials/header.ejs %> 
<%- include partials/main_nav.ejs %>  

<main class="container">
    <div class="jumbotron"><center>
        <h3>My Areas of Interest</h3></center><br>
      
        </div>
        <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col">
                <div class="card h-100">
                <img src="/assets/images/web.jpg" class="card-img-top" alt="web development">
                <div class="card-body">
                    <h5 class="card-title">Web Development</h5>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <img src="/assets/images/systemdesign.jpg" class="card-img-top" alt="system design">
                    <div class="card-body">
                        <h5 class="card-title">System Design & Analysis</h5>
                        
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <img src="/assets/images/QA.jpg" class="card-img-top" alt="testing">
                    <div class="card-body">
                        <h5 class="card-title">Software Testing & QA</h5>
                        
                    </div>
                </div>
            </div>
<div class="col">
                <div class="card h-100">
                    <img src="/assets/images/android.jpg" class="card-img-top" alt="android">
                    <div class="card-body">
                        <h5 class="card-title">Mobile Application Development</h5>            
                    </div>
                </div>
            </div>
          </div>
    </div>
</main>




<%- include partials/bottom_nav.ejs %> 
<%- include partials/footer.ejs %> 